/* CSS Document */

body { font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
background:repeat-x; 
	background-image: url(kriska.jpg);
background-image: url( img/bg.jpg);
background-size:1120px; 
}

 
#coolmenu1 {

height:70px;
width: 200px;
}

#coolmenu1 a {
	
	
background: no-repeat;
	background-image:url(auto_dark.gif);
display:block;
height:71px;
	margin-top: 5px;
	margin-left: 10px;
	}

body>html #coolmenu1 a{
width:auto;
}

#coolmenu1 a:hover{ 

background-image:url(auto_light.gif);
height:71px;

}





#coolmenu2 {

height:70;
width: 200px;
}

#coolmenu2 a {
	background: no-repeat;

background-image:url(moto_dark.gif);
display:block;
height:71px;
	margin-top: 5px;
	margin-left: 10px;
}

body>html #coolmenu2 a{
width:auto;
}

#coolmenu2 a:hover{
background-image:url(moto_light.gif);
height:71px;

}












#coolmenu2 {

height:70;
width: 200px;
}

#coolmenu2 a {
	background: no-repeat;

background-image:url(moto_dark.gif);
display:block;
height:71px;
	margin-top: 5px;
	margin-left: 10px;
}

body>html #coolmenu2 a{
width:auto;
}

#coolmenu2 a:hover{
background-image:url(moto_light.gif);
height:71px;

}







#coolmenu4 {

height:30px;
width: 200px;
}

#coolmenu4 a {
	background-repeat: no-repeat;
background-image:url(push26_00.gif);
display:block;
height:71px;
	margin-top: 0px;
	margin-left: 0px;
}

body>html #coolmenu4 a{
width:auto;
}

#coolmenu4 a:hover{
	
background-image:url(push26_0.gif);
height:71px;
	margin-bottom:inherit;
	

}


#coolmenu5 {

height:90px;
width: 180px;
}

#coolmenu5 a {
background-image:url(music_base.gif);
display:block;
height:71px;
	margin-top: 5px;
	margin-left: 3px;
}

body>html #coolmenu5 a{
width:auto;
}

#coolmenu5 a:hover{
background-image:url(music.gif);
height:71px;

}



