/* CSS Document */

p.menu {
margin:2px;
padding:5px;
}
.b_t_border {
border-bottom: 3px solid red;
/*border-top:5px solid gray;
*/}

.bot_top_border {
border-top:1px solid #000000;
border-bottom:1px solid #000000;
/*border-top:5px solid gray;
*/}

a{
text-decoration:none;}


#coolmenu a{
background-image: url(push25.gif);
display:block;
width:200;
height:50;

}
html>body #coolmenu a{
width:auto;
}

#coolmenu a:hover {
background-image: url(push26.gif);
width:200;
height:50;
}







#coolmen a{
background-image:url(jukebox_index1.gif);
display:block;
width:200;
height:100;

}
html>body #coolmen a{
width:auto;
}

#coolmen a:hover {
background-image:url(jukebox_index2.gif);
width:200;

}




#coolme a{
display:block;
background-color:#000000;

}
html>body #coolme a{
width:auto;
}
#coolme a:hover {
background-color: #000099;
width:150;
}


#coolm a{
display:block;
color: #FFFF66;
background-color:#000000;
}

html>body  #coolm a{
width:auto;
}
#coolm a:hover {
background-color: #000099;
}



/*----- Hoverbox Code - get code found at http://host.sonspring.com/hoverbox/ ------*/

.hoverbox
{
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
	position: absolute;
	top: 100px;
	left:100px;
	z-index: 1;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: 225px;
	left:400px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	color: inherit;
	vertical-align: top;
	width: 150px;


	border-color: #FFCC66;
	border-style: solid;
	border-width: 5px;
}

/*.hoverbox li
{
	
	color: inherit;
	display: inline;
	float: left;
	position: static;

}*/

.hoverbox .preview
{
	border-color: #FFCC66;
	width: auto;
}

/*----- Hoverbox Code  ------*/






